/* ------- Header ------- */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

p {
  font-size: 20px;
}

/* ------- Below the Line ------- */
.container {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0px;
}

/* ------- Text Box ------- */
.textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 4px 10px;
}

/* ------- Time Box ------- */
.time-block {
  text-align: center;
  border-radius: 15px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  padding-top: 15px;
}

/* ------- User Input Box ------- */
.row {
  white-space: pre-wrap;
  height: 80px;
}

.description {
  white-space: pre-wrap;
}

/* ------- Hour Blocks Color ------- */
.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

/* ------- Save Button ------- */
.saveBtn {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i.fa-save:hover {
  font-size: 30px;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

.event-group {
  padding: 2px 0 0 2px;
}

.events {
  margin: 0;
  height: 75px;
  color: #000000;
  font-size: 14px;
  line-height: 22px;
}
